<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
 
    </div>
    <ul class="nav navbar-nav">
  <li>
  <form action="/home" method="POST"> 
        <input type="hidden" name="home" value="">
        <button type="submit" class="btn btn-primary btn-sm" >ClimateTempByMarcus</button>        
        <br><br>
</form>
</li>
 <li>
  <form action="/contact" method="POST"> 
        <input type="hidden" name="contact" value="">
        <button type="submit" class="btn btn-primary btn-sm">ResearchBySam</button>        
        <br><br>
</form>
</li>
 <li>
  <form action="/zubaer" method="POST"> 
        <input type="hidden" name="resurch" value="">
        <button type="submit" class="btn btn-primary btn-sm" >Display</button>        
        <br><br>
</form>
</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
<li>
  <form action="/signup" method="POST"> 
        <input type="hidden" name="signup" value="">
        <button type="submit" class="btn btn-success btn-sm" >Event</button>        
        <br><br>
</form>
</li>
<li>
  <form action="/signin" method="POST"> 
        <input type="hidden" name="signin" value="">
        <button type="submit" class="btn btn-success btn-sm" id="btnSignin">Signin</button>        
        <br><br>
</form>
</li>
<li>
  <form action="/signup2" method="POST"> 
        <input type="hidden" name="signin" value="">
        <button type="submit" class="btn btn-success btn-sm" >Signup</button>        
        <br><br>
</form>
</li>
    </ul>      
    <img src="assets\img\03.jpg" class="img-circle"  width="60" height="60">

    <p class="navbar-text">Climate change</p>
  </div>
</nav>