<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Project</title>

	<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>


<body>


	{{{body}}}


<!-- *************************************** -->
	<footer>
		<h5 class="text-center">&copy; project-2</h5>
	</footer>



</body>
</html>