<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Climate change</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>


<body>
<div class="container">

	{{{body}}}


<!-- *************************************** -->
	<footer>
		<h5 class="text-center">&copy; project-2 UCF bootcamp by Marcus, Sam, Brigit, Zubaer</h5>
	</footer>

</div>
</body>
</html>
