



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
 
    </div>
    <ul class="nav navbar-nav">
  <li>
  <form action="/home" method="POST"> 
        <input type="hidden" name="home" value="">
        <button type="submit" class="btn btn-primary btn-sm" >Home</button>        
        <br><br>
</form>
</li>
 <li>
  <form action="/contact" method="POST"> 
        <input type="hidden" name="contact" value="">
        <button type="submit" class="btn btn-primary btn-sm">Contact</button>        
        <br><br>
</form>
</li>
 <li>
  <form action="/research" method="POST"> 
        <input type="hidden" name="resurch" value="">
        <button type="submit" class="btn btn-primary btn-sm" >Research</button>        
        <br><br>
</form>
</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
<li>
  <form action="/signup" method="POST"> 
        <input type="hidden" name="signup" value="">
        <button type="submit" class="btn btn-success btn-sm" >Signup</button>        
        <br><br>
</form>
</li>
<li>
  <form action="/signin" method="POST"> 
        <input type="hidden" name="signin" value="">
        <button type="submit" class="btn btn-success btn-sm" >Signin</button>        
        <br><br>
</form>
</li>
    </ul>      
    <img src="assets\imagesHome\03.jpg" class="img-circle"  width="60" height="60">

    <p class="navbar-text">Climate change</p>
  </div>
</nav>

<!-- =====================================================-->

<div class="row">
	<div class="col-md-9">
		<video playsinline autoplay muted loop  id="video" >
		 <!-- <source src="movie.mp4" type="video/mp4">
		  <source src="movie.ogg" type="video/ogg">    
		  <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">    -->
		  <source src="http://images.all-free-download.com/footage_preview/webm/rain_132.webm" type="video/webm">    
		</video> 	   
       

        <br><br>
      
       <p>
        Description: <br>
       	A change in global or regional climate patterns, in particular a change apparent from the mid to late 20th century onwards and attributed largely to the increased levels of atmospheric carbon dioxide produced by the use of fossil fuels.
       </p>        
	</div>


	<div class="col-md-3">
  Social media
  <img src="assets\imagesHome\03.jpg" class="img-circle"  width="200" height="100"><br><br>
  <img src="assets\imagesHome\03.jpg" class="img-circle"  width="200" height="100"><br><br>
  <img src="assets\imagesHome\03.jpg" class="img-circle"  width="200" height="100">
   
		   
		</div>

</div>