


<div class="row">
  <div class="col-md-4" id="btnResearch">
 
      	<form action="/one" method="POST">
          <br> 
      		Name of Database:
            <input type="text" name="one" value=""><br>
            <button type="submit" class="btn btn-primary btn-sm">SELECT</button>  
            <br><br>
    	</form>
      	<form action="/two" method="POST"> 
      		
            <input type="hidden" name="two" value="">
            <button type="submit" class="btn btn-primary btn-sm">Find Temp</button>  
            <br><br>
    	</form>

      	<form action="/three" method="POST"> 
      	
            <input type="hidden" name="three" value="">
            <button type="submit" class="btn btn-primary btn-sm">Sea level</button>  
            <br><br>
    	</form>

    	<form action="/four" method="POST"> 
      		
            <input type="hidden" name="four" value="">
            <button type="submit" class="btn btn-primary btn-sm">Other</button>  
            <br><br>
    	</form>
</div>



	<div class="col-md-8">
	<br><br><br><br><h1>Test</h1>   
	<!--
		<ul>
			{{#each playernames1}}
				<li>
				<p>ID:  {{this.id}}</p>						
				<p>Name:  {{this.Name}}</p>			
				</li>
			{{/each}}
		</ul>
-->     
	</div>
</div>


