






<div class="row">
<form action="/event" method="POST">
  
  <div class="col-md-4">
 		 Organizer:
        <input type="text" name="id" value="">
         Location:
        <input type="text" name="id" value="">

        <button type="submit" class="btn btn-success" >SUBMIT</button>     
        <br><br>

    
        <br><br>
        </form>
  </div>

		<div class="col-md-4">
			Media:	   
	        <input type="text" name="id" value="">
    
	        <br><br>
	        Description:
	        <input type="text" name="id" value="">   
	        <br><br>         
		</div>


		<div class="col-md-4">
			DateTime:		        
	        <input type="text" name="id" value="">    
	        <br><br>	   
		</div>
</form>
</div>
