

<!-- =====================================================-->

<div class="row">
  <div class="col-md-8">
    <video playsinline autoplay muted loop  id="video" >
     <!-- <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">    
      <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">    -->
      <source src="http://images.all-free-download.com/footage_preview/webm/rain_132.webm" type="video/webm">    
    </video>     
    <!-- =====================================================-->
<!--
<div id="friendModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">

            
            <div class="modal-body text-center ">
            <h2>Test</h2>
            
            </div>
            <div class="modal-footer ">
                <button type="button " class="modal-action modal-close " data-dismiss="modal ">Close</button>
            </div>
        </div>
        </div>
        -->
    <!-- =====================================================-->   

        <br><br>
      
       <p>
        Description: <br>
        A change in global or regional climate patterns, in particular a change apparent from the mid to late 20th century onwards and attributed largely to the increased levels of atmospheric carbon dioxide produced by the use of fossil fuels.
       </p>        
  </div>



   <div class="col-md-1"> 
       <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
       <script type="IN/Share" data-url="testing" data-counter="top"></script>
    <br><br>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Zubaer"
  data-size="large">Tweet</a>
  <br><br>
 
      <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fzuck&width=78&height=65&layout=box_count&size=large&show_faces=true&appId" width="78" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe><br>





<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
  </div>







<div class="col-md-3">
    <img src="assets\img\01.jpg" class="img-circle"  width="200" height="100"><br><br>
  <img src="assets\img\02.jpg" class="img-circle"  width="200" height="100"><br><br>
  <img src="assets\img\05.jpg" class="img-circle"  width="200" height="100"><br><br>
     <img src="assets\img\06.jpg" class="img-circle"  width="200" height="100">
</div>


   
       



</div>

    



  <!-- =============================================================================================== -->  


<div id="friendModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">

      <!-- ============================================== -->      
            <div class="modal-body text-center ">
      <!-- ============================================== --> 
      <!-- ============================================== --> 
<form action="/signin" method="POST">
  
  <div class="col-md-2">
    
  </div>


    <div class="col-md-6">
          <br>
          Name:
              <input type="text" name="name1" value="">
              <br><br>
          Location:
              <input type="text" name="name2" value="">
              <br><br>
          Password:     
              <input type="text" name="name3" value="">   
              <br><br> 
            <div class="input-group date" data-provide="datepicker">
               Date:
               <input type="text" name="id" value="" id="datepicker"> 
          </div>
              <br><br> 
              <button type="submit" class="btn btn-success" >SUBMIT</button>     
            <br><br>      
    </div>
  <div class="col-md-4">
  <br> 
       <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
       <script type="IN/Share" data-url="testing" data-counter="top"></script>
    <br>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Zubaer"
  data-size="large">Tweet</a>
  <br>
 
      <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fzuck&width=78&height=65&layout=box_count&size=large&show_faces=true&appId" width="78" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe><br>





<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
  </div>




</form>



<!-- ============================================= 
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
-->


     <script>
         $(function() {
            $( "#datepicker" ).datepicker();
         });
      </script>
      <!-- ============================================== --> 
      <!-- ============================================== -->       
            </div>

          <!-- ============================================== --> 
            <div class="modal-footer ">
                <button type="button " class="modal-action modal-close " data-dismiss="modal ">Close</button>
            </div>
        </div>
        </div>


 <script type="text/javascript">

$('#friendModal').modal('open');
 </script>
    














