





<form action="/signin" method="POST">
  
  <div class="col-md-4">   
  </div>

		<div class="col-md-8">
					<br>
					Name of Organizer:
			        <input type="text" name="name1" value="">
			        <br><br>
			        Location:
			        <input type="text" name="name2" value="">
			        <br><br>
					Media:	   
			        <input type="text" name="name3" value="">
		    
			        <br><br>
			        Description:
			        <input type="text" name="name4" value="">   
			        <br><br>  
			        Date:		        
			        <input type="text" name="name5" value="">    
			        <br><br> 
			        <button type="submit" class="btn btn-success" >SUBMIT</button>     
		        <br><br>      
		</div>

</form>

