

    

<div id="mydiv">
	{{name}}
</div>


<form action="/signinDone" method="POST"> 
		<br>
        Name of organizer:
        <input type="text" name="signinDone" value="">
        <br><br>
        Password:
        <input type="text" name="signinDone" value="default 'abcd' ">
        <br><br>
        <button type="submit" class="btn btn-success btn-sm" >Signin</button>        
        
</form>

    <br><br>
        <div class="g-signin2" data-onsuccess="onSignIn" onclick="onSignIn()">Sign in</div>
         <button href="#" onclick="signOut();">Sign out</button>
           
            </div>
        <br><br>
        <a href='/auth/facebook' class='btn btn-primary'><span class='fa fa-facebook'></span>Facebook</a>
