

<!-- =====================================================-->


<div class="row">
  <div class="col-md-2" id="btnResearch">
 
      	<form action="/barCarbon" method="POST">
          
      
            <button type="submit" class="btn btn-primary btn-sm">Carbon Quantity</button>  
            <br><br>
    	</form>
      	<form action="/LineTempRaise" method="POST"> 
      		
            <input type="hidden" name="two" value="">
            <button type="submit" class="btn btn-primary btn-sm">Ave TempRaise</button>  
            <br><br>
    	</form>

      	<form action="/pieChart" method="POST"> 
      	
            <input type="hidden" name="three" value="">
            <button type="submit" class="btn btn-primary btn-sm">Pie Chart</button>  
            <br><br>
    	</form>

     <form action="/sealevel" method="POST"> 
          
            <input type="hidden" name="four" value="">
            <button type="submit" class="btn btn-primary btn-sm">Sea Level</button>  
            <br><br>
      </form>

    	<form action="/D3Chart" method="POST"> 
      		
            <input type="hidden" name="four" value="">
            <button type="submit" class="btn btn-primary btn-sm">D3-Chart Sea Level</button>  
            <br><br>
    	</form>
</div>


<!-- *************************************** -->

  <div class="col-md-2" id="btnResearch2">

      <form action="/allPlayers" method="POST">
        <input type="hidden" name="id" value="nameOfPlayers">
        <button type="submit" class="btn btn-success" >All Names:</button>     
        <br><br>
      </form>

<!-- *************************************** -->
      <form action="/insert" method="POST">
        <input type="text" name="name" value="">
        <button type="submit" class="btn btn-success" >INSERT</button>     
        <br><br>
      </form>

<!-- *************************************** -->
      <form action="/delete" method="POST">
        <input type="text" name="name" value="">
        <button type="submit" class="btn btn-success" >DELETE</button>     
        <br><br>
      </form>

<!-- *************************************** -->
      <form action="/update" method="POST">
        <input type="text" name="name1" value="">
        <input type="text" name="name2" value="">
        <button type="submit" class="btn btn-success" >UPDATE</button>     
        <br><br>
      </form>
<!-- *************************************** -->
</div>
<!-- *************************************** -->



	<div class="col-md-8" id="test">
	  
<img id="map" src="assets\img\07.png" class="img-circle"  width="600" height="400">

	</div>
</div>


