

    


<form action="/signinDone" method="POST"> 
		<br>
        Name of organizer:
        <input type="text" name="signinDone" value="">
        <br><br>
        Password:
        <input type="text" name="signinDone" value="default 'abcd' ">
        <br><br>
        <button type="submit" class="btn btn-success btn-sm" >Signin</button>        
        <br><br>
</form>

    

