
		body{
			background-color: white;
		}
		.navbar{
			margin-top: 10px;
		}
		.nav li{
			margin-right: 40px;
			
		}
		a{	
			color: red;
		}
		#imgName{
			float: left;
			margin-right: 30px;
		}
		p{
			overflow: hidden;
			margin-top: -15px;
			color: white;
		}

		button{
			margin-top: 15px;
		}
		}
		#btnResearch{
			background-color: black;
		}
		#btnResearch button{
			width: 180px;
		}
		#btnResearch input{
			width: 180px;
		}
		input{
			width: 250px;
		}
		.navbar{

			font-size: 1.5em;
		}
		.nav li{
			font-size: 15px;
		}
		#climateDataDisplay li{
			font-size: 10px;
		}
		#video{
			width: auto;
			height: 300px;
			margin-top: -15px;
		}
		footer{
			float: left;
		}
		#test{
			margin-left: 60px;
		}
		#friendModal2{
			background-color: wheat;
		}
