
		body{
			background-color: wheat;
		}
		.navbar{
			margin-top: 10px;
		}
		.nav li{
			margin-right: 40px;
			
		}
		a{	
			color: red;
		}
		#imgName{
			float: left;
			margin-right: 30px;
		}
		p{
			overflow: hidden;
			margin-top: -15px;
			color: blue;
		}

		button{
			margin-top: 15px;
		}
		}
		#btnResearch{
			
		}
		#btnResearch button{
			width: 180px;
			font-size: 13px;
		}
		#btnResearch input{
			width: 180px;
		}
		#btnResearch2 button{
			width: 90px;
			font-size: 11px;
		}
		#btnResearch2 input{
			width: 90px;
		}
		input{
			width: 250px;
		}
		.navbar{

			font-size: 1.5em;
		}
		.nav li{
			font-size: 10px;
		}
		.nav li button{
			width: 80px;
		}
		#climateDataDisplay li{
			font-size: 10px;
		}
		#video{
			width: auto;
			height: 380px;
			margin-top: -15px;
		}
		footer{
			float: left;
		}
		#mycanvas{
			margin-left: 10px;
			width: 85%;

		}
		#canvasSize{
			width: 50%;
			margin-left: 60px;
		}
		#friendModal2{
			background-color: wheat;
		}
		#map{
			margin-left: 50px;
		}
